
RewriteEngine on

DirectorySlash On

RewriteBase /api/poi


RewriteCond %{REQUEST_FILENAME}.php  -f
RewriteRule ^(.*)$  $1.php  [QSA]

# 
RewriteRule ^\.git/.*$  -  [F]

<FilesMatch "^(\.git.*|config\.json.*)$">
	Order allow,deny
	Deny from all
</FilesMatch>
